<a href="https://colab.research.google.com/github/Anilpattiwar/Letsupgrade--Data-Science-/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1
list = []
for i in range(10):
	number = int(input())
	if number%2==0:
		list.append(number)
print(list)

4
7
42
56
8
32
10
3
97
56
[4, 42, 56, 8, 32, 10, 56]

In [ ]:

#Q2
"List comprehensions are a way of achieving Pythonic one-liners with iterables(lists)"
#Example1
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7] 
  
output_list = [] 
  
# Using loop for constructing output list 
for var in input_list: 
    if var % 2 == 0: 
        output_list.append(var) 
  
print("Output List using for loop:", output_list)
#Using list comprehension
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7] 
  
  
list_using_comp = [var for var in input_list if var % 2 == 0] 
  
print("Output List using list comprehensions:", list_using_comp)


#Example2
#Using for loop
output_list = [] 
for var in range(1, 10): 
    output_list.append(var ** 2) 
      
print("Output List using for loop:", output_list)
#Using list comprehension
list_using_comp = [var**2 for var in range(1, 10)] 
  
print("Output List using list comprehension:",  
                              list_using_comp)

Output List using for loop: [2, 4, 4, 6]
Output List using list comprehensions: [2, 4, 4, 6]
Output List using for loop: [1, 4, 9, 16, 25, 36, 49, 64, 81]
Output List using list comprehension: [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Q3
num=int(input())
d=dict()
for x in range(1,num+1):
    d[x]=x**2
print(d)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#Q4
x=0
y=0
n = int(input())

for i in range(n):
    direction = input().split(' ')  
    
    if direction[0].upper() == "UP":
        y += int(direction[1])
    elif direction[0].upper() == "RIGHT":
        x += int(direction[1])
    elif direction[0].upper() == "DOWN":
        y -= int(direction[1])
    elif direction[0].upper() == "LEFT":
        x -= int(direction[1])
    else:
        print("Invalid Input")    
pos = float((x**2+y**2)**0.5)
print(round(pos))

5
UP 10
DOWN 4
RIGHT 6
LEFT 9
DOWN 2
5